    h1{
        text-align: center;
        font-size: 24px;
        color: orange;
    }

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
  }
  
  header {
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    font-size: 20px;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  a {
    font-size: 1rem;
    color: #a01919;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
  }
  
  section {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: #2a8fa5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #4a4e69;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
 
  header h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  }
  
  nav li a:hover {
    text-decoration: underline;
  }
  
  section h2 {
    color: #4a4e69;
  }
  
  a {
    color: #4a4e69;
  }
  
  footer {
    margin-top: 40px;
  }
  